@import url('https://fonts.googleapis.com/css2? family= Inter:wght@400;600 & display=swap');

:root{
    --color--one: #ffffff;
    --color--two: #FCDA6B;
    --color--three: #222222;
    --color--four: #8E7BEF;
    --color--five:#f9f5f2;
    font-family: "Inter", sans-serif;
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

.aaa{
    display: 1px;
    opacity: 0;
}

a{
    text-decoration: none;
    color: inherit;
}

ul{
    list-style: none;
}

.navbar{
    display: flex;
    justify-content: space-between;
    height: 2rem;
    align-items: center;
    position: fixed;
    width: 100%;
    left: 0;
    top: 2rem;
    padding: 1.5rem;
    font-size: 24px;
}



.desplegable{
    position: fixed;
    top: 2rem;
    left: 0;
    width: 50%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 2rem;
    transform: translateX(-100%);
    transition: transform 0.5s;
    background-color: var(--color--one);
    
}

.bx-menu{
    font-size: 24px;
    cursor: pointer;
}

.desplegable-show{
    transform: translateX(0);
}


@media(min-width: 900px){
    .bx-menu{
        display: none;
    }
    .desplegable{
        position: static;
        width: auto;
        height: auto;
        flex-direction: row;
        transform: translateX(0);
    }
}

.navbar img{
    width: 24px;
    height: 24px;
    display: flex;
    justify-content: flex-end;
}

#first_section{
    padding: 4rem;
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 0.8rem;
}

.Design_experience{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.Design_experience{
    font-size: 20px;
    margin-bottom: 1.5rem;
}

h1{
    font-size: 50px;
}

.social_logos{
    display: flex;
    justify-content: center;
    gap: 4rem;
}

.logo1{
    background-color: var(--color--four);
    width: 40px;
    height: 40px;
    border-radius: 1.5rem;
}

.logo2{
    background-color: var(--color--four);
    width: 40px;
    height: 40px;
    border-radius: 1.5rem;
}

.logo3{
    background-color: var(--color--four);
    width: 40px;
    height: 40px;
    border-radius: 1.5rem;
}

.face_1{
    height: 450px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
    text-align: center;
}

.face_2{
    display: none;
}

.first_contact{
    background-color: var(--color--four);
    color: var(--color--one);
    font-size: 20px;
    padding: 1rem;
    display: flex;
    flex-direction: row;
    gap: 2rem;
    justify-content: center;
    align-items: center;
}

@media(min-width: 900px){
    #first_section{
        display: flex;
        flex-direction: column;
        text-align: start;
        gap: 3rem;
        padding: 8rem;
    } 

    .social_logos{
        display: flex;
        justify-content: flex-start;
        margin-bottom: 2rem;
    }

    .face_1{
        display: none;
    }

    h1{
        font-size: 80px;
    }

    .Design_experience p{
        font-size: 24px;
    }

    .face_2 {
        display: flex;
        width: 100px;
        height: 100px;
    }

    .first_contact{
        display: flex;
        width: 350px;
    }
}

#second_section{
    background-color: var(--color--two);
    margin-top: 2rem;
    margin-bottom: 3.5rem;
    padding: 2rem;
    padding-bottom: 3.5rem;
    display: flex;
    flex-direction: column;
}

.second_section_1{
    display: flex;
    flex-direction: column;
}

.size >p{
    margin-bottom: 2rem;
}

.second_section_1 h2{
    font-size: 32px;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.second_section_1 >p{
    font-size: 16px;
    margin-bottom: 1.5rem;
}

.experience{
    font-size: 16px;
    margin-bottom: 1rem;
}

.stories{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.history_1{
    display: flex;
    gap: 3rem;
}

.history_1 >p{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.history_2{
    display: flex;
    gap: 3rem;
}

.history_2 >p{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.history_3{
    display: flex;
    gap: 3rem;
    margin-bottom: 3rem;
}

.history_3 >p{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.ability{
    font-size: 20px;
    margin-bottom: 1.5rem;
}

.second_section_2{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    
}

.skill_1{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.skill_2{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.skill_3{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.skill_4{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

@media (min-width: 900px){
    #second_section{
        padding: 8rem;
        margin: 0;
    }

    .second_section_1 h2{
        font-size: 40px;
        margin-bottom: 4rem;
    }

    .second_section_1 p{
        font-size: 18px;
    }

    .second_section_1{
        display: flex;
        flex-direction: row;
        gap: 14rem;
    }

    .box_2{
        display: flex;
        flex-direction: column;
        gap: 1rem;
        margin-top: 1.6rem;
    }

    .box_2 >h4{
        font-size: 24px;
    }

    .stories{
        width: 700px;
    }

    .ability{
        font-size: 24px;
        font-weight: bold;
    }

    .second_section_2{
        display: flex;
        flex-direction: row;
        gap: 13rem;
        justify-content: center;
    }

    .skill_1{
        width: 9rem;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .skill_2{
        width: 9rem;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .skill_3{
        width: 9rem;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .skill_4{
        width: 6rem;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
}

#third_section{
    padding: 2rem;
    display: flex;
    flex-direction: column;
}

.briefcase{
    font-size: 32px;
    margin-bottom: 0rem;
}

#third_section p{
    color: var(--color--four);
    margin-top: 2rem;
    margin-bottom: 0.5rem;
}

.image_1{
    display: flex;
    flex-direction: column;
}

.image_2{
    display: flex;
    flex-direction: column;
}

.image_3{
    display: flex;
    flex-direction: column;
}

@media(min-width: 900px){
    #third_section{
        padding: 0rem 8rem 8rem 8rem;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    
        font-size: 24px;
    }

    .briefcase{
        padding: 3rem 0rem 0rem 8rem;
    }

    .image_1{
        display: flex;
        flex-direction: column;
        text-align:start;
        gap: 1rem;
    }

    .image_2{
        display: flex;
        flex-direction: column;
        text-align:start;
        gap: 1rem;
    }

    .image_3{
        display: flex;
        flex-direction: column;
        text-align:start;
        gap: 1rem;
    }
}

#four_section{
    padding: 2rem;
    padding-top: 0.5rem;
    display: flex;
    flex-direction: column;
}

#four_section >h3{
    font-size: 32px;
    display: flex;
    justify-content: center;
    margin-bottom: 1.5rem;
}

.section_contact{
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.section_contact img{
    background-color: var(--color--five);
    border-radius: 3rem;
    margin-bottom: 0.5rem;
    padding: 1.5rem;
}

.opacidad{
    opacity: 0.4;
}

.finish{
    color: var(--color--four);
    display: flex;
    justify-content: center;
    margin-top: 4.5rem;
    margin-bottom: 3.5rem;
}

@media(min-width: 900px){
    #four_section{
        padding: 0rem 8rem 2rem 8rem;
    }

    #four_section h3{
        font-size: 40px;
        display: flex;
        justify-content: flex-start;
    }

    .section_contact{
        display: flex;
        justify-content: center;
        gap: 15rem;
    }

    .section_contact img{
        width: 120px;
        border-radius: 1rem;
        padding: 0.5rem;
    }

    .section_contact p{
        display: flex;
        justify-content: center;
        margin-top: 1rem;
        margin-bottom: 1rem;
    }
}
    




















